.container {
    margin-top: 20px;
}

.question:hover {
    background-color: #cce2ff;
}

.question .item {
    display: flex;
    align-items: center;
}

.question .content {
    text-decoration: none;
    margin-left: 10px;
    color: #343232;
}

.ui.segment {
    height: 80vh;
    border: 0px;
    box-shadow: none;
}